*{
    box-sizing: border-box;
    font-family: 'Merriweather','serif';
}

:root{
    --blue:#1170E3;
    --purple:#6920E2
}

/* --------Personnalisation de la scrollbar-------------- */

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:#eae7e7;
}

html::-webkit-scrollbar-thumb{
    background:var(--purple);
}

/* collé du slide */



header{
    /* background-color:#7B7B7B; */
    padding: 3rem;
    /* background:linear-gradient(300deg, gray, rgb(62, 57, 57)); */
   
    

}

header nav ul .img-nav{
    width:150px;
    height: 100px;
    object-fit: cover;

}

header nav ul a {
    background: none;
    border-radius: 10px;
    padding: 0;
    border-width:3px;
    text-decoration: none;
    text-transform: capitalize;
    
    
   
}



header nav label{
    font-size: large;
    color: #ffff;
}

aside h3{
    color: #e3e9ed;
    font-size:24px;
    display: flex;
    justify-content: center;
}

h1{
    text-align:center;
    color: #aaa;
}


.navigation{
    display:flex;
    justify-content: space-evenly;
    
}

h2{
    color:#fbf8f6;
    font-size:25px;
    text-align:center;
}

form{
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0.5rem;
}

nav ul a {
    color:#f3eff2;
    font-size:25px;
    
}

.pos-input{
    text-align: center;
    align-items:center;
}

input[type=search]{
    width:200px;
    height:35px;
    border-radius: 25px;
}

.page1{
    background-image: url(https://wallpapercg.com/media/ts_2x/4584.webp);
    width:100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;

}

.page2{
    background-image: url(https://img.freepik.com/premium-photo/facebook-template-3d-illustration_665513-4.jpg);
    width:100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.page3{
    background-image: url(https://images.unsplash.com/photo-1574375927938-d5a98e8ffe85?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bmV0ZmxpeHxlbnwwfHwwfHx8MA%3D%3D);
    width:100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.page4{
    background-image: url(https://img.freepik.com/photos-premium/emoji-whatsapp-fond-vert-symbole-ballon-medias-sociaux-motif-icones-whatsapp_41204-1552.jpg);
    width:100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.main_p3{
    margin-left: 50px;
   max-width:95%;
}

.main_p2{
   margin-left: 50px;
   max-width:95%;
}

#section_page2{
    display: flex;
    gap: 5px;
}

#section_page3{
    display: flex;
    gap: 5px;
}

#section_page4{
    display: flex;
    gap: 5px;
}

video{
    align-items: center;
    width: 700px;
    height:400px;
    border-radius: 15px;
}

.title{
    align-items: center;
    color: #ffffff;
    padding: 3rem;
}
.title_2{
    align-items: center;
    color: #ffffff;
    padding: 3rem;
}

.title_3{
    align-items: center;
    color: #ffffff;
    padding: 3rem;
}


.journal{
    max-width:50%;

}
.journal2{
    max-width:50%;

}

.journal3{
    max-width:50%;

}
.hr_2{
	
        height:36vh;
        width:.5vw;
        border-width:0;
        color:#f5efef;
        background-color:#f2eded;
       
}
/* .hr_2:after {
	content:"\273D \273D \273D";
	height: 0;			
	letter-spacing: 0.4em;
	color: #aaa;
} */

.article1{
    border-radius: 18px ;
    border-width: 4px;
    box-shadow: 2px 2px 2px 2px #ffffff;
}



.article_2{
    border-radius: 18px ;
    border-width: 4px;
    box-shadow: 2px 2px 2px 2px #ffffff;
}

.article_3{
    border-radius: 18px ;
    border-width: 4px;
    box-shadow: 2px 2px 2px 2px #ffffff;
}

.para_1{
    color: #ffffff;
    font-size:18px;
}

.para_2{
    color: #ffffff;
    font-size:18px;
}
.para_3{
    color: #ffffff;
    font-size:18px;
}


header nav .image_nav {
    max-width: 100%;
    width:30px;
    height:25px;
    object-fit: contain;  
}
.contenu-slider {
    max-width: 800px;
    position: relative;
    margin: auto;
    height: 350px;
    overflow: hidden;
    border-radius: 18px;
}
.menu {
    position: absolute;
    left: 0;
    z-index: 11;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.menu label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50px;
    margin: 0 0.2em 1em;
}
.menu label:hover,.menu label:focus {
    background: #1c87c9;
}
.slide-input{
    opacity: 0;
}
.slide-img {
    width: 100%;
    height: 300px;
    border-radius: 18px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    transition: left 0s 0.75s;
}
[id^="slide"]:checked + .slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}


/* .cite{
    width:45px;
    height:30px;
    align-items: center;
    text-align: center;
}

.cite img{
    align-items: center;
    text-align: center;
} */
/* Collé du slide fin */

/* --------Partie commentaire animation-------- */
/* div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation: colorchange 3s ease-in 1s infinite reverse;
    animation-name: colorchange;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 2s;
    animation-iteration-count: 5;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    
} */
/* @keyframes colorchange {
    0% {background-color: red; }
    50% {background-color: green; }
    100% {background-color: blue; }
} */
/* Partie transition */
 /* div {
    width: 50px;
    height: 50px;
    background: #32CD32;
    transition: width 3s ease-in;
    transition: width 3s;
    transition-timing-function: ease-in;
}
div:hover {
    width: 250px;
} */ 
/* Partie Transform 1 rotation des div à 10deg */
/* div.positive {
    width: 200px;
    height: 100px;
    margin-top: 30px;
    background-color: #32CD32;
    transform: rotate(10deg);
}
div.negative {
    width: 200px;
    height: 100px;
    margin-top: 30px;
    background-color: #32CD32;
    transform: rotate(-10deg);
} */
/* Transition rotation d'une div inclus dans une div */
/* div.empty-div {
    position: relative;
    height: 100px;
    width: 100px;
    margin: 30px;
    padding: 10px;
    border: 1px solid black;
 }
 div.green-div {
    padding: 50px;
    position: absolute;
    background-color: #8bc34a;
    border: 1px solid white;
    transform: rotate(15deg);
    transform-origin: 25% 75%;
 } */
/* Transform skew réduction ou allongement d'un des 4 cotés  */
 /* div {
    margin-left:50px;
    width: 200px;
    padding: 50px;
    background-color: #32CD32;
    transform: skew(30deg);
    transform: rotate(45deg) translate(100px);
} */

/* Début Main------------------- */
#puce{
    margin:auto;
}



.box-container{
    display:flex;
    justify-content:space-around;
    margin:auto;
    padding:3rem;
}

.box{
    box-shadow: 2px 0px 0px 2px #e8e6e5;
    border-radius:18px;
    border-width:3px;
    width:500px;
    background-repeat: no-repeat;
}

#puce .box-container .box img{
    width:100%;
    /* height:100%; */
    object-fit: cover;
    
}
/* Aside Début------------------------------------- */

aside img{
    object-fit: cover;
    border-radius: 18px;
    gap:1px;
}

i{
    width:150px;
    height:50px;
}

.hr_1 {
	display: block;
	clear: both;
	font-family: arial;
	text-align: center;
	font-size: 30px;
	line-height: 1;
}
.hr_1:after {
	content:"\273D \273D \273D";
	height: 0;			
	letter-spacing: 1em;
	color: #aaa;
}
.box:hover{
    transition: 0.2s all;
    transform: scale(0.98);
    box-shadow: 0px 8px 16px rgba(0,0,0,0.4),0px 6px 20px 0 rgba(0,0,0,0.19);
    
}
aside p{
    font-size:22px;
    color: #e8e6e5;
    text-align: center;
}

/* Aside Fin----------------------------- */

footer h3{
    font-size:16px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer p{
    font-size: 16px;
    color: #ffffff;
}

#container-footer{
    display: flex;
    justify-content: space-evenly;
}
#container-footer .services ul{
    padding: 0;
}
#container-footer ul a {
    color:#ffffff;
    padding:0;
    transition: width 3s ease-in;
    transition: width 3s;
    transition-timing-function: ease-in;
    font-size:23px;
    text-decoration: solid;
    
}

#container-footer ul a:hover{
    background:rgba(14, 149, 41, 0.718);
    transition: width 3s ease-in;
    transition-timing-function: ease-in;
}
    
footer .img_footer{
    display: flex;
    width: 50px;
    height: 50px;
    object-fit: cover;
    align-items: center;
    text-align: center;
}   
.img_footer_net{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

footer .reseaux ul .align-img {
    display: flex;
    justify-content: center;
    
}

footer .horaire{
    text-align: center;
    align-items: center;
}
    
    


footer ul li{
    list-style-type: none;
}

.footer-de-h{
    font-size: x-large;
    font-weight:bold;
    color: #ffffff;
   
}













